@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<img id="logoheadline" src="~/images/zerobrightnesslogoonly.png" />
<div id="sociallinks">
    <a class="sociallogo" href="https://www.facebook.com/zerobrightnesspodcast">
        <img class="sociallogo" src="~/images/facebook.png" alt="Facebook">
    </a>
    <a class="sociallogo" href="https://www.instagram.com/zerobrightnesspod/">
        <img class="sociallogo" src="~/images/instagram.png" alt="Instagram">
    </a>
    <a class="sociallogo" href="https://www.stitcher.com/podcast/zero-brightness">
        <img class="sociallogo" src="~/images/stitcher.png" alt="Stitcher">
    </a>
    <a class="sociallogo" href="https://podcasts.apple.com/in/podcast/zero-brightness/id1455174135">
        <img class="sociallogo" src="~/images/apple podcast.png" alt="Apple Podcasts">
    </a>
    <a class="sociallogo" href="https://soundcloud.com/user-994317825">
        <img class="sociallogo" src="~/images/soundcloud.png" alt="Soundcloud">
    </a>
    <a class="sociallogo" href="https://discord.gg/C88aKQr">
        <img class="sociallogo" src="~/images/discord.png" alt="YouTube">
    </a>
    <a class="sociallogo" href="http://feeds.soundcloud.com/users/soundcloud:users:599401653/sounds.rss">
        <img class="sociallogo" src="~/images/rss.png" alt="rss">
    </a>
</div>

<div id="mainbody">
    Zero Brightness is a podcast about horror video games.<br />
    <a href="https://zerobrightness.bandcamp.com/merch/zero-brightness-hail-sotn-t-shirt-preorder">
        <img height="350" src="~/images/sotnshirt.png"> </a>
        <iframe id="soundcloudframe" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/599401653&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
</div>

<div id="sociallinks">
    <a href="https://www.patreon.com/zerobrightness">
        <img class="patreon" src="~/images/patreon.png" alt="Patreon">
    </a>
</div>



